@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

@layer utilities {
  .nav {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    gap: 35px;
    padding-left: 25px;
    justify-content: end;
  }
  .nav-item {
    position: relative;
    padding: 2px;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.2s;
  }

  .nav-link::after {
    content: "";
    width: 0;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
  }
  .nav-link:hover::after {
    width: 100%;
    transition: all 0.2s;
  }
}
